@import url(./all.min.css);
@import url(./common.css);
@import url(./fonts.css);

:root {
    --btn: rgba(105, 207, 23, 0.75);
    --bg: #0C0C0C;
    --white: #fff;
}

.banner {
    background: var(--bg);
}

.service {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    font-family: 'Roboto';
    font-size: 16px;
}

.service__menu {
    display: flex;
    gap: 20px;
}

.nav {
    border: 1px solid rgba(125, 115, 115, 0.5);
    backdrop-filter: blur(15px);
    position: sticky;
    /* position: fixed; */
    top: 0;
    z-index: 999;

}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}


.logo {
    max-height: 53px;
}

.menu {
    display: flex;
}

.menu__link {
    padding: 22px 10px;
    display: block;
    font-size: 18px;
    transition: 0.5s;
    position: relative;

    &:hover {
        background: var(--btn);
    }
}

.header__content {
    min-height: calc(100dvh - 55px - 67px);
    display: flex;
    background-image: url(../img/food-burger-wallpaper-preview\ 1.jpg);
    background-size: cover;
    align-items: center;
    margin-bottom: 48px;
}

.header__title {
    font-weight: 900;
    font-size: 72px;
    color: #69CF17;
    margin-bottom: 18px;
}

.header__meat {
    color: #69CF17;
    font-size: 36px;
    line-height: 17px;
    margin-bottom: 18px;
}

.header__desc {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

.header__price {
    font-weight: 100;
    font-size: 50px;
    line-height: 39px;
    padding: 32px 76px;
    backdrop-filter: blur(18px);
    background: rgba(105, 207, 23, 0.5);
    display: inline-block;
}

.header__service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__view {
    border-radius: 6px;
    background: linear-gradient(90deg, #69cf17 0%, #417d11 100%);
    font-size: 18px;
    padding: 15px 68px;
}

.tab {
    background: #292929;
    padding: 0 20px;
    height: auto;
    width: auto;
}

.tab__menu {
    display: flex;
    gap: 36px;
}

.tab__link {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    padding: 19px 0;

    &:hover {
        border-bottom: 1px solid #fff;
    }
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 370px);
    gap: 30px;
    padding: 15px;
    background: #393636;
    justify-content: center;
    margin-bottom: 50px;
}

.product__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    background: #0C0C0C;
    padding: 15px;
    gap: 15px;
    width: 370px;
    height: 524px;
}

.buy {
    background: #0C0C0C;
    border-radius: 4px;
    box-sizing: border-box;
}

.buy img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

.burger__name {
    font-size: 19px;
    line-height: 15px;
}

.burger__desc {
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
}

.map__title {
    background: #fff;
    color: #69CF17;
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    padding: 20px;
}

.footer {
    width: 100%;
    height: 268px;
    background: linear-gradient(180deg, #000 0%, rgba(105, 207, 23, 0.5) 100%);
    font-family: 'Roboto';
}

.footer__identification {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 81px;
}

.footer__contact {
    font-size: 20px;
    font-weight: 700;
}

.footer__content {
    padding-top: 30px;
}

.footer__menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer__link {
    font-size: 20px;
}

.copyright {
    font-family: 'Roboto';
    background: #1A3406;
    display: flex;
    text-align: center;
    padding: 19px;
}

.img__street {
    width: 1110px;
    height: 400px;
    display: flex;
    background-image: url(../img/photo_cropped\ 1.jpg);
    object-fit: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(106, 207, 23, 0.7);
    font-size: 55px;
    font-weight: 700;
}

.main__img {
    margin-bottom: 30px;
}

.main__desc {
    margin-bottom: 30px;
    display: flex;
    text-align: justify;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.nav__burger {
    background: transparent;
    font-size: 32px;
    height: 60px;
    display: none;
}